<a href="https://colab.research.google.com/github/SangamSilwal/Numpy-and-panda/blob/main/MergingjoiningConcatenating.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [22]:
courses = pd.read_csv("/content/courses.csv")
dec = pd.read_csv("/content/reg-month1.csv")
nov = pd.read_csv("/content/reg-month2.csv")
students = pd.read_csv("/content/students.csv")

In [23]:
# pd.concat
# ignore_index
# mulltiindex -> fetch using iloc
# concat dataframe horizontally

In [24]:
reg = pd.concat([nov,dec],ignore_index = True)

In [25]:
# multi index dataframe
multi = pd.concat([nov,dec],keys= ["nov","dec"])
multi.loc[('dec'),7]

student_id    7
course_id     8
Name: (dec, 7), dtype: int64

In [26]:
pd.concat([nov,dec],axis=1)   #this will horizontally stack the dta

    student_id  course_id  student_id  course_id
0            3          5        23.0        1.0
1           16          7        15.0        5.0
2           12         10        18.0        6.0
3           12          1        23.0        4.0
4           14          9        16.0        9.0
5            7          7        18.0        1.0
6            7          2         1.0        1.0
7           16          3         7.0        8.0
8           17         10        22.0        3.0
9           11          8        15.0        1.0
10          14          6        19.0        4.0
11          12          5         1.0        6.0
12          12          7         7.0       10.0
13          18          8        11.0        7.0
14           1         10        13.0        3.0
15           1          9        24.0        4.0
16           2          5        21.0        1.0
17           7          6        16.0        5.0
18          22          5        23.0        3.0
19          22          6        17.0        7.0
20          23          9        23.0        6.0
21          23          5        25.0        1.0
22          14          4        19.0        2.0
23          14          1        25.0       10.0
24          11         10         3.0        3.0
25          42          9         NaN        NaN
26          50          8         NaN        NaN
27          38          1         NaN        NaN

In [20]:
# merge

In [29]:
# inner join
# basically in inner join the nan values are not consider
# the syntax is : leftdf.pd(rightdf,how="inner",on="column-name")
students.merge(nov,how="inner",on="student_id")

    student_id                name  partner  course_id
0            1       Kailash Harjo       23         10
1            1       Kailash Harjo       23          9
2            2         Esha Butala        1          5
3            3      Parveen Bhalla        3          5
4            7        Tarun Thaker        9          7
5            7        Tarun Thaker        9          2
6            7        Tarun Thaker        9          6
7           11  David Mukhopadhyay       20          8
8           11  David Mukhopadhyay       20         10
9           12          Radha Dutt       19         10
10          12          Radha Dutt       19          1
11          12          Radha Dutt       19          5
12          12          Radha Dutt       19          7
13          14    Pranab Natarajan       22          9
14          14    Pranab Natarajan       22          6
15          14    Pranab Natarajan       22          4
16          14    Pranab Natarajan       22          1
17          16        Elias Dodiya       25          7
18          16        Elias Dodiya       25          3
19          17        Yasmin Palan        7         10
20          18     Fardeen Mahabir       13          8
21          22          Yash Sethi       21          5
22          22          Yash Sethi       21          6
23          23      Chhavi Lachman       18          9
24          23      Chhavi Lachman       18          5

In [32]:
# left
courses.merge(reg,how="left",on="course_id")

    course_id       course_name  price  student_id
0           1            python   2499        12.0
1           1            python   2499        14.0
2           1            python   2499        38.0
3           1            python   2499        23.0
4           1            python   2499        18.0
5           1            python   2499         1.0
6           1            python   2499        15.0
7           1            python   2499        21.0
8           1            python   2499        25.0
9           2               sql   3499         7.0
10          2               sql   3499        19.0
11          3     data analysis   4999        16.0
12          3     data analysis   4999        22.0
13          3     data analysis   4999        13.0
14          3     data analysis   4999        23.0
15          3     data analysis   4999         3.0
16          4  machine learning   9999        14.0
17          4  machine learning   9999        23.0
18          4  machine learning   9999        19.0
19          4  machine learning   9999        24.0
20          5           tableau   2499         3.0
21          5           tableau   2499        12.0
22          5           tableau   2499         2.0
23          5           tableau   2499        22.0
24          5           tableau   2499        23.0
25          5           tableau   2499        15.0
26          5           tableau   2499        16.0
27          6          power bi   1899        14.0
28          6          power bi   1899         7.0
29          6          power bi   1899        22.0
30          6          power bi   1899        18.0
31          6          power bi   1899         1.0
32          6          power bi   1899        23.0
33          7          ms sxcel   1599        16.0
34          7          ms sxcel   1599         7.0
35          7          ms sxcel   1599        12.0
36          7          ms sxcel   1599        11.0
37          7          ms sxcel   1599        17.0
38          8            pandas   1099        11.0
39          8            pandas   1099        18.0
40          8            pandas   1099        50.0
41          8            pandas   1099         7.0
42          9            plotly    699        14.0
43          9            plotly    699         1.0
44          9            plotly    699        23.0
45          9            plotly    699        42.0
46          9            plotly    699        16.0
47         10           pyspark   2499        12.0
48         10           pyspark   2499        17.0
49         10           pyspark   2499         1.0
50         10           pyspark   2499        11.0
51         10           pyspark   2499         7.0
52         10           pyspark   2499        25.0
53         11             Numpy    699         NaN
54         12               C++   1299         NaN

In [36]:
# right
# outer
students.merge(reg,how="outer",on="student_id")
# outer will accept all the value though it is nan or not

    student_id                name  partner  course_id
0            1       Kailash Harjo     23.0       10.0
1            1       Kailash Harjo     23.0        9.0
2            1       Kailash Harjo     23.0        1.0
3            1       Kailash Harjo     23.0        6.0
4            2         Esha Butala      1.0        5.0
5            3      Parveen Bhalla      3.0        5.0
6            3      Parveen Bhalla      3.0        3.0
7            4         Marlo Dugal     14.0        NaN
8            5         Kusum Bahri      6.0        NaN
9            6  Lakshmi Contractor     10.0        NaN
10           7        Tarun Thaker      9.0        7.0
11           7        Tarun Thaker      9.0        2.0
12           7        Tarun Thaker      9.0        6.0
13           7        Tarun Thaker      9.0        8.0
14           7        Tarun Thaker      9.0       10.0
15           8      Radheshyam Dey      5.0        NaN
16           9   Nitika Chatterjee      4.0        NaN
17          10      Aayushman Sant      8.0        NaN
18          11  David Mukhopadhyay     20.0        8.0
19          11  David Mukhopadhyay     20.0       10.0
20          11  David Mukhopadhyay     20.0        7.0
21          12          Radha Dutt     19.0       10.0
22          12          Radha Dutt     19.0        1.0
23          12          Radha Dutt     19.0        5.0
24          12          Radha Dutt     19.0        7.0
25          13      Munni Varghese     24.0        3.0
26          14    Pranab Natarajan     22.0        9.0
27          14    Pranab Natarajan     22.0        6.0
28          14    Pranab Natarajan     22.0        4.0
29          14    Pranab Natarajan     22.0        1.0
30          15           Preet Sha     16.0        5.0
31          15           Preet Sha     16.0        1.0
32          16        Elias Dodiya     25.0        7.0
33          16        Elias Dodiya     25.0        3.0
34          16        Elias Dodiya     25.0        9.0
35          16        Elias Dodiya     25.0        5.0
36          17        Yasmin Palan      7.0       10.0
37          17        Yasmin Palan      7.0        7.0
38          18     Fardeen Mahabir     13.0        8.0
39          18     Fardeen Mahabir     13.0        6.0
40          18     Fardeen Mahabir     13.0        1.0
41          19        Qabeel Raman     12.0        4.0
42          19        Qabeel Raman     12.0        2.0
43          20       Hanuman Hegde     11.0        NaN
44          21          Seema Kota     15.0        1.0
45          22          Yash Sethi     21.0        5.0
46          22          Yash Sethi     21.0        6.0
47          22          Yash Sethi     21.0        3.0
48          23      Chhavi Lachman     18.0        9.0
49          23      Chhavi Lachman     18.0        5.0
50          23      Chhavi Lachman     18.0        1.0
51          23      Chhavi Lachman     18.0        4.0
52          23      Chhavi Lachman     18.0        3.0
53          23      Chhavi Lachman     18.0        6.0
54          24        Radhika Suri     17.0        4.0
55          25     Shashank D’Alia      2.0        1.0
56          25     Shashank D’Alia      2.0       10.0
57          38                 NaN      NaN        1.0
58          42                 NaN      NaN        9.0
59          50                 NaN      NaN        8.0

In [45]:
# finding the revenue made on each month
courses_detail = pd.concat([nov,dec],keys=['nov','dec']).reset_index()
courses_detail.merge(courses,on="course_id").groupby("level_0")['price'].sum()

level_0
dec    89175
nov    65072
Name: price, dtype: int64